<div class="divider">
    <select name="measurement"
        class="border-2 border-indigo-600"
        #measurement
        [(ngModel)]="selected"
        (change)="onSelectedUtensil()">
        <option *ngFor="let tool of utlList"
            [hidden]="tool.selected"
            [value]="tool.id">{{tool.id}}</option>
    </select>
    <input type="text"
        [readonly]="true"
        style="border-width: 2px;"
        name="calculator"
        [(ngModel)]="serves">
    <button (click)="removeUtensil()">X</button>
</div>