<select name="measurement"
    id="measurement"
    (change)="addNewMeasurer($event)"
    >
    <optgroup label="Cups">
        <option value="1 cup">1 Cup</option>
        <option value="1/2 cup">1/2 Cup</option>
        <option value="1/3 cup">1/3 Cup</option>
        <option value="1/4 cup">1/4 Cup</option>
    </optgroup>
    <optgroup label="Tablespoon">
        <option value="1 tblspn">1 Tblspn</option>
        <option value="1/2 tblspn">1/2 Tblspn</option>
        <option value="1/3 tblspn">1/3 Tblspn</option>
        <option value="1/4 tblspn">1/4 Tblspn</option>
    </optgroup>
    <optgroup label="Teaspoon">
        <option value="1 tspn">1 Tspn</option>
        <option value="1/2 tspn">1/2 Tspn</option>
        <option value="1/3 tspn">1/3 Tspn</option>
        <option value="1/4 tspn">1/4 Tspn</option>
    </optgroup>
</select>