<select name="measurement"
    #measurement
    (change)="addNewMeasurer(measurement.value)"
    >
    <optgroup label="Cups">
        <option *ngFor="let tool of tools.cups" [value]="tool">{{tool}} Cups</option>
    </optgroup>
    <optgroup label="Tablespoon">
        <option *ngFor="let tool of tools.tablespoons" [value]="tool">{{tool}} Tblspn</option>
    </optgroup>
    <optgroup label="Teaspoon">
        <option *ngFor="let tool of tools.teaspoons" [value]="tool">{{tool}} Tspn</option>
    </optgroup>
</select>