/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bw-1 {
    border-width: 1px;
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.bw-4 {
    border-width: 4px;
}

.bw-4 {
    border-width: 5px;
}