/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bw-1 {
    border-width: 1px;
}

.bw-2 {
    border-width: 2px;
}

.bw-3 {
    border-width: 3px;
}

.bw-4 {
    border-width: 4px;
}

.bw-4 {
    border-width: 5px;
}

.select-border {
    background-color: rgba(251, 251, 251);
    border-radius: 5px 0px 0px 5px ;
}

.input-border {
    background-color: rgb(239, 239, 239);
}

.measuring-component {
    border: 2px solid rgba(78, 70, 229, 0.626);
    border-radius: 5px
}